#Looping statements:
     
##        Python programming language provides two types of Python loopshecking time. In this article, we will look at Python loops and understand their working with the help of examp – For loop and While loop to handle looping requirements. Loops in Python provides three ways for executing the loops.

## While all the ways provide similar basic functionality, they differ in their syntax and condition-checking time. In this article, we will look at Python loops and understand their working with the help of examples.

#while loop:

           
##         In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.

In [1]:
i=0
while i<=20:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
r=90
while r<=100:
    print(r)
    r=r+1

90
91
92
93
94
95
96
97
98
99
100

#For loop:

##          For loops are used for sequential traversal. For example: traversing a list or string or array etc. In Python, there is “for in” loop which is similar to foreach loop in other languages. Let us learn how to use for loops in Python for sequential traversals with examples.

In [9]:
word="Srinivas"
for i in word:
    print(i)

S
r
i
n
i
v
a
s

In [10]:
kabaddi=["telugu","mumbai","kolkata","bangalore"]
for i in kabaddi:
    print(i)

telugu
mumbai
kolkata
bangalore

In [11]:
g={"telugu","mumbai","kolkata","bangalore"}
for i in g:
    print(i)

telugu
bangalore
kolkata
mumbai

In [12]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
str="Srinivas",'srinu','srinu123','''pushpa'''
for i in str:
    print(i)

Srinivas
srinu
srinu123
pushpa