#List:

##        Lists are used to store multiple items in a single variable.

## Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

## Lists are created using square brackets.

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

#Index():

##          The index() method returns the position at the first occurrence of the specified value.

 1.positive index.
 2.negative index.

In [2]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

print(x)

3

1.positive index:

           Increases from 0 to 1.

In [4]:
index=[2,1,5,6,3,5]
index.index(5)

2

In [6]:
index=[4,6,8,3,0,2,1]
index.index(0)

4

#2.Negative index:
           
##           each traversal moves from tail to head, starting with the last element.

In [9]:
xyz = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print(xyz[-4])

2

#Slicing:


         You can return a range of characters by using the slice syntax.

## Specify the start index and the end index, separated by a colon, to return a part of the string.

In [10]:
b = "Hello, World!"
print(b[2:5])

llo

In [11]:
b = "Hello, World!"
print(b[:5])

Hello

In [12]:
b = "Hello, World!"
print(b[2:])

llo, World!

#Concatenation:


##           concatenation means add strings together.

##            Use the + character to add a variable to another variable.

In [13]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [19]:
a = "Hello"

b = "World"
c = a +"  "+ b
print(c)

Hello  World

#Repetation:
         
##         In Python, you can multiply strings to create a new string that repeats the original string a certain number of times. This technique is known as string repetition or string replication.

## The multiplication operator (*) is used to repeat a string a specified number of times.

In [20]:
string = "SRINU "
result = string * 10
print(result)

SRINU SRINU SRINU SRINU SRINU SRINU SRINU SRINU SRINU SRINU

# Mutable:

##          Mutable is when something is changeable or has the ability to change. In Python, ‘mutable’ is the ability of objects to change their values.

In [25]:
lst=[1,5,8,90,40,39]
lst[4]

40

In [29]:
lst=[1,5,8,90,40,39]
lst[4]="srinu"
print(lst)

[1, 5, 8, 90, 'srinu', 39]

#Append:

##        The append() method appends an element to the end of the list.

In [33]:
a = ["apple", "banana", "cherry"]
a.append("pineapple")
print(a)

['apple', 'banana', 'cherry', 'pineapple']

In [34]:
z=[2,5,8,3,9,10]
z.append("srinu")
print(z)

[2, 5, 8, 3, 9, 10, 'srinu']

#insert:

##        The insert() method inserts the specified value at the specified position.

In [36]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

#remove:

The remove() method removes the first occurrence of the element with the specified value.

In [37]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']