#sets:

##       Sets are used to store multiple items in a single variable.

## Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

## A set is a collection which is unordered, unchangeable*, and unindexed.  


##Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

#convert list to a set:

In [2]:
num=set([1,2,3,4,5])
print(num)

{1, 2, 3, 4, 5}

In [3]:
fruits= {"apple", "banana", "cherry"}
print(fruits)
print(type(fruits))

{'cherry', 'banana', 'apple'}
<class 'set'>

#Duplicates Not Allowed:

##            Sets cannot have two items with the same value.

In [4]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [6]:
num={1,1,1,12,2,2,23,3,3,35,5,5,5}

print(num)

{1, 2, 3, 35, 5, 23, 12}

#Add Items:

##           Once a set is created, you cannot change its items, but you can add new items.


##         To add one item to a set use the add() method.

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [8]:
num={2,3,4,5,6,7,78}
num.add(40)
print(num)

{2, 3, 4, 5, 6, 7, 40, 78}

#update python set:

##           The update() method updates the current set, by adding items from another set (or any other iterable).

## If an item is present in both sets, only one appearance of this item will be present in the updated set.

## As a shortcut, you can use the |= operator instead, see example below

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'google', 'microsoft', 'banana', 'apple'}

#Set discard() Method:

             
## The discard() method removes the specified item from the set.

## This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [10]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

#Set remove() Method:

##         The remove() method removes the specified element from the set.

## This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [11]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

#Python set() Operations:
            
##            If you remember your basic high school math, you'll probably recall mathematical set operations like union, intersection, difference and symmetric difference. Well, you can achieve the same thing with Python sets.


# 1. Set Union:

         
## The union of two sets is the set of all the elements of both the sets without duplicates. You can use the union() method or the | syntax to find the union of a Python set.

In [16]:
first_set = {1, 2, 3}
>>> second_set = {3, 4, 5}
>>> first_set.union(second_set)

{1, 2, 3, 4, 5}

In [17]:
 first_set = {1, 2, 3}
>>> second_set = {3, 4, 5}                # using the '|' operator
>>> first_set | second_set

{1, 2, 3, 4, 5}

#2.Set Intersection:

##              The intersection of two sets is the set of all the common elements of both the sets. You can use the intersection() method of the & operator to find the intersection of a Python set.

In [18]:
first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set.intersection(second_set)

{4, 5, 6}

In [21]:
first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set & second_set             # using the '&' operator

{4, 5, 6}

#3. Set Difference:

##              The difference between two sets is the set of all the elements in first set that are not present in the second set. You would use the difference() method or the - operator to achieve this in Python.

In [22]:
first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set.difference(second_set)

{1, 2, 3}

In [23]:
first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set - second_set                   # using the '-'operator

{1, 2, 3}

#4.Set Symmetric Difference:

## The symmetric difference between two sets is the set of all the elements that are either in the first set or the second set but not in both.

## You have the choice of using either the symmetric_difference() method or the ^ operator to do this in Python.

In [24]:
first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set.symmetric_difference(second_set)

{1, 2, 3, 7, 8, 9}

In [26]:
first_set = {1, 2, 3, 4, 5, 6}
>>> second_set = {4, 5, 6, 7, 8, 9}
>>> first_set ^ second_set                # using the '^' operator

{1, 2, 3, 7, 8, 9}